@charset "UTF-8";

.obrasfantasma {
	font-family: arial;
	font-size: 12px;
	letter-spacing: 0.5px;
	font-weight: lighter;
	color: #000;
}

.principal {
	font-family: arial;
	font-size: 12px;
	letter-spacing: 0.5px;
	font-weight: lighter;
	color: #000;
}

.principal a:link {
	font-family: arial;
	font-size: 12px;
	letter-spacing: 0.5px;
	font-weight: lighter;
	color: #000;
}
.principal a:visited {
	font-family: arial;
	font-size: 12px;
	letter-spacing: 0.5px;
	font-weight: lighter;
	color: #000;
}
.principal a:hover {
	font-family: arial;
	font-size: 12px;
	letter-spacing: 0.5px;
	font-weight: lighter;
	color: #669999;
}
.principal a:active {
	font-family: arial;
	font-size: 12px;
	letter-spacing: 0.5px;
	font-weight: lighter;
	color: #000;
}


.principalnegrita {
	font-family: arial;
	font-size: 12px;
	letter-spacing: 0.5px;
	font-weight: bold;
	color: #000;
}

.principalnegrita a:link {
	font-family: arial;
	font-size: 12px;
	letter-spacing: 0.5px;
	font-weight: bold;
	color: #000;
}
.principalnegrita a:visited {
	font-family: arial;
	font-size: 12px;
	letter-spacing: 0.5px;
	font-weight: bold;
	color: #000;
}
.principalnegrita a:hover {
	font-family: arial;
	font-size: 12px;
	letter-spacing: 0.5px;
	font-weight: bold;
	color: #669999;
}
.principalnegrita a:active {
	font-family: arial;
	font-size: 12px;
	letter-spacing: 0.5px;
	font-weight: bold;
	color: #000;
}

.titulos {
	font-family: arial;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: 300;
	font-variant:normal;
	color: #000;
}

.titulos a:link {
	font-family: arial;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: normal;
	font-variant: normal;
	color: #000;
}

.titulos a:visited {
	font-family: arial;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: normal;
	font-variant: normal;
	color: #000;
}

.titulos a:hover {
	font-family: arial;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: normal;
	font-variant: normal;
	color: #669999;
}

.titulos a:active {
	font-family: arial;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: normal;
	font-variant: normal;
	color: #000;
}

.textos {
	font-family: arial;
	font-size: 15px;
	font-weight: normal;
	font-variant: normal;
	color: #000;
}

.textos a:link {
	font-family: arial;
	font-size: 15px;
	color: #000;
}
.textos a:visited {
	font-family: arial;
	font-size: 15px;
	color: #000;
}
.textos a:hover {
	font-family: arial;
	font-size: 15px;
	color: #669999;
}
.textos a:active {
	font-family: arial;
	font-size: 15px;
	color: #000;
}

.responsive {
  width: 100%;
  height: auto;
}

	






@media (max-width : 921px ){
}
